#logo {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

#logo:hover {
    color: darkgrey;
}

.logoutBtn {
    border: 1.3px solid black;
    position: relative;
}

#confirm-delete {
    text-decoration: none;
}
 .search-table {
    margin-top: 10%;
    padding: 5%;

 }
 
 body {
     background-color: azure;
 }
 
 #myInput {
     margin: 0.7%;
 }

 .filters {
     padding: 2%;
 }

 #user-panel {
     margin:auto auto;
 }